.status {
  display: inline-block;
  margin-right: 2px;
  background-color: gray;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.alive {
  background-color: #54cd44;
}

.dead {
  background-color: #d63c2f;
}

.unknown {
  background-color: #f5a623;
}
